.section .reveal .state-background{
  background-image: url(https://prd-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/thumbnails/image/Trees_wetfeet_kjj19.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section p{
  background-color: rgba(0,128,0,0.95);
  margin: 0px;
  padding: 50px 50px;
  opacity: 0.85;
	
}
.section h1{
  background-color: rgba(0,128,0,0.95);
  margin: 0px;
  padding: 50px 50px;
  opacity: 0.85;

}